.footerContainer{
    background-color: #d6bcfa;
    padding: 1%;
    position:fixed;
    bottom: 0;
    width: 100%;
}

.footerContainer a{
    text-decoration: none;
    color: black;
    font-size: 125%;
}

.jimmy-container{
    display: flex;
    justify-content: flex-end;
}

.footIcon{
    margin-left: 4px;
}
