.footerContainer{
    background-color: #d6bcfa;
    padding: 1%;
    position:fixed;
    bottom: 0;
    width: 100%;
}

.footerContainer a{
    text-decoration: none;
    color: black;
    font-size: 125%;
}

.jimmy-container{
    display: flex;
    justify-content: center;
}

.footIcon{
    margin-left: 6px;
    font-size: 30px;
}

.name-p{
    font-size: large;
}
