body{
    background-image:url("../images/purple_night.png") !important;
    background-size: cover !important;
    background-repeat: no-repeat !important;
}

body > img{
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}
