body{
    height:100%;
    width: 100%;
}

.splash-img{
    background-image:url("../images/DREAM.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 110%;
    height: auto;
    position:absolute;
    object-fit: cover;
    margin-top: -10px;
    padding: 0;
}
