.scroll-bar{
    overflow: auto;
    white-space: nowrap;
}

.entry-container{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height:80%;
}

.entry-date{
    justify-self: flex-end;
}
