.scroll-bar{
    overflow: auto;
    white-space: nowrap;
}

.entry-content{
    overflow: hidden;
    text-overflow: ellipsis;
}

.entry-container{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height:80%;
    margin-left: 3px;
}
.entry-title{
    margin-left: 3px;
    font-weight: 500;
    /* white-space: nowrap; */
    text-overflow: ellipsis;
}

.entry-date{
    justify-self: flex-end;
    margin-left: 3px;
}
